@model IEnumerable<EC2_1234567.Models.Vehicle>

@{
    ViewData["Title"] = "AllVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllVehicle</h1>

<p>
    <a asp-action="AddVehicle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
      
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <img style="width:120Px;height:auto" src="~/uploads/images/@item.Image" />
            </td>
            <td>
        
                @Html.ActionLink("Delete", "DeleteVehicle", new {  id=item.Vehid})
            </td>
        </tr>
}
    </tbody>
</table>
